@import url('../assets/style.css');

/* This makes the header title gradient*/
h1{
    background: linear-gradient(90deg,blue,red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}